@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}

p {
    margin: 0;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 540px;
    height: 300px;

    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    border-radius: 8px;    
}

.form-input {
    box-sizing: border-box;
    width: 540px;
    height: 204px;
    background-color: #F8F8F7;
    padding: 32px 50px 24px 50px;
}

.form-input p span {
    font-weight: bold;
}

.form-footer {
    padding: 24px 50px 24px 50px;
}

.form-footer button {
    border: none;
    cursor: pointer;
    outline: none;
    
    background-color: #4262FF;
    border-radius: 6px;
    color: #FFFFFF;

    font-size: 14px;
    line-height: 24px;

    text-align: center;

    padding: 8px 16px 8px 16px;
    margin-right: 16px;
}

.form-footer button:hover {
    opacity: 0.8;
}