@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

html {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px
}

p {
    margin: 0;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 27rem;
    height: 15rem;

    box-shadow: 0px 0.4rem 1rem rgba(0,0,0,0.2);
    border-radius: 0.4rem;    
}

.form-input {
    box-sizing: border-box;
    width: 27rem;
    height: 10.2rem;
    background-color: #F8F8F7;
    padding: 1.6rem 2.5rem 1.2rem 2.5rem;
}

.form-input p span {
    font-weight: bold;
}

.form-footer {
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
}

.form-footer button {
    border: none;
    cursor: pointer;
    outline: none;
    
    background-color: #4262FF;
    border-radius: 0.3rem;
    color: #FFFFFF;

    font-size: 0.7rem;
    line-height: 1.2rem;

    text-align: center;

    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    margin-right: 0.8rem;
}

.form-footer button:hover {
    opacity: 0.8;
}